//import base
@import 'base/reset';
@import 'base/vars';
//import components
@import 'components/footer';
@import 'components/navbar';
//import layout
@import "layout/index";
@import "layout/accesorios";
@import "layout/amigurumis";
@import "layout/contactos";
@import "layout/paraperros";
@import "layout/ropa";

//mediaquery
@import "base/mediaquery";