@font-face {
    font-family: Neucha;
    src: url(../imagenes/Neucha-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

main, section {
display: flex;
grid-template-columns: 100px 100px 100px;
grid-template-rows: 100px 100px 100px;
padding-top: 10px;
padding-bottom: 10px;
column-gap: 100px;
row-gap: 30px;
object-fit: fill;
flex-wrap: wrap; 
font-family: Neucha;
}
.Imagen__dentro_caja{
    height: 200px;
    width: 200px;
    border-radius: 10px; 
    border: 5px solid black;
    box-shadow: 0 2px 4px grey;
}

.textoimagen{
    position: relative;
    top: -10px;
    background-color: beige;
    padding-top: 2px;
    border-radius: 5%;
    border-style: dotted;
    text-align: center;
    cursor: pointer;
    transition-delay: 3ms;
}
.textoimagen:hover{
    border-style: dashed;
}
.p {
    text-decoration: none;
    background-color: black;
}




