*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Nechua';
  src: url("../imagenes/Neucha-Regular.ttf")
}

body html {
  font-family: "Neucha-Regular, Nechua";
  height: 100%;
  font-size: 100%;
}
html, body {
    height: 100%;
  }
  
  body {
    background: linear-gradient(to left, #87CEEB, rgb(117, 117, 165));
  }
